
@import "../../styles/variables";


.share-container {
    margin-top: 45px;
	margin-bottom: 45px;
	border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 30px;
    padding-bottom: 30px;
}

.share-list {
    list-style: none;
    padding-left: 0;
	margin-left: -10px;
	margin-right: -10px;
	text-align: center;

    .share-item {
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
	}
	
	.share-title {
		display: block;

		h3 {
			margin-bottom: 30px;
		}
	}

}

.share {
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	font-size: $small-font-size;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 10px;
	display: inline-block;
	width: 45px;
	margin-bottom: 10px;
    text-align: center;

	@media only screen and (min-width: $sm) {
		width: 120px;
	}

	svg {
		display: inline-block;
	    stroke-width: 0;
	    stroke: currentColor;
	    fill: currentColor;
	    width: 18px;
	    height: 18px;
	    vertical-align: middle;
	}

	span {
		vertical-align: middle;
		line-height: 18px;
        margin-left: 3px;
        display: none;

		@media only screen and (min-width: $sm) {
			display: inline;
		}
	}

	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.share-facebook {
	background-color: $facebook-bg-color;
}

.share-twitter {
	background-color: $twitter-bg-color;
}

.share-linkedin {
	background-color: $linkedin-bg-color;
}

.share-pinterest {
	background-color: $pinterest-bg-color;
}

.share-reddit {
	background-color: $reddit-bg-color;
}