.search-results {
  min-height: 400px;
  margin-top: 80px;

  table {
    border-spacing: inherit;
    border-collapse: inherit;
    margin-bottom: inherit;
  }

  table td, table th {
    padding: inherit;
    border: initial;
  }

  .go-back {
    text-align: center;  
  }
}

