@import '../../styles/variables';

.page-aside .widget.widget-subscription {
    max-width: 600px;
    margin: 0 auto;
}

.page-aside .widget.widget-related {
    display: none;

    @media only screen and (min-width: $lg) {
        display: block;
    }
}